---
# جيكل يحتاج هذه الأسطر لمعالجة ملف الـ Sass
---

@import "minimal-mistakes"; 

// استيراد خط تجوال
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

// إعدادات الـ RTL والخط
html {
  direction: rtl;
}

body {
  font-family: "Tajawal", "Segoe UI", Tahoma, sans-serif !important;
}

// تعديل تموضع العناصر الأساسية للقالب ليناسب الـ RTL
.sidebar {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 2em !important;
}

.page {
  float: left !important;
  padding-right: 0 !important;
  padding-left: 2em !important;
}

/* قلب اتجاه عناصر التنقل (Breadcrumbs) */
.breadcrumbs {
  text-align: right !important;
}

/* إصلاح اتجاه أسهم التنقل في الأسفل */
.pagination--pager {
  float: left !important;
}
