<div class="page__comments">
  <h4 class="page__comments-title">{{ site.data.ui_text[site.locale].comments_label | default: "التعليقات" }}</h4>
  <script src="https://giscus.app/client.js"
        data-repo="omrhmza/omrhmza.github.io"
        data-repo-id="R_kgDOQxw4AQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOQxw4Ac4C0cGj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://giscus.app/themes/custom_example.css" 
        data-theme="transparent_dark" 
        data-lang="ar"
        crossorigin="anonymous"
        async>
  </script>
</div>
